/* styles for both Anni Albers layouts */

/* by default, let's lay out the first index.html file */

#firstLayout main {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

#firstLayout h1 {
    font-size: 3rem;
}

#firstLayout h2 {
    font-size: 0.75rem;
    font-style: italic;
}

#firstLayout p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: 50%;
}

#firstLayout p.callout {
    font-size: 2rem;
    line-height: 2.2rem;
    font-style: italic;
    float: right;
    text-align: right;
    padding-left: 2em;
    margin-top: 0;
}

#secondLayout main {

}