

* {
    box-sizing:border-box;
    font-family:Bakersville;
}

body {
    padding:0;
    margin:0;
}

header {
    width:100vw;
    height:100vh;
}

#FlowerPictureMain {
    position:absolute;
    width:100vw;
    height:100vh;
    background-image:url("Flower\ PIc\ 3.jpg");
    background-size: cover;
}

#FlowerTitle {
    position:absolute;
    width:100vw;
    height:100vh;
   


}

#FlowerTitle h1{
    position:absolute;
    left:-6em;

}

p{
    position:absolute;
    bottom:0;
    left:0;
    color:pink; 
}

@media screen and (orientation: landscape) {

    #FlowerPictureMain {
        width: 50vw;
    }

    #FlowerTitle {
        width: 50vw;
        left: 50vw;
        
    }

    #FlowerTitle h1 {
        width: 45vw;
    }
      }